@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/*   font-family: "Inter", sans-serif; */

:root {
	--light-green: #bef264;
	--dark-green: #1a2e05;

	--white: #ffffff;
	--gray-50: #fafafa;
	--gray-100: #f4f4f5;
	--gray-200: #e4e4e7;
	--gray-300: #d4d4d8;
	--gray-400: #a1a1aa;
	--gray-500: #71717a;
	--gray-700: #3f3f46;
	--gray-800: #27272a;
	--gray-900: #18181b;
	--black: #09090b;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: var(--black);
	color: var(--gray-50);
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	text-align: center;
	max-width: 48rem;
	padding: 1.5rem;
}

p {
	font-size: 18px;
	color: var(--gray-300);
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 45rem;
	width: 100vw;
	max-height: 4rem;
	height: 100vh;
	background-color: var(--gray-900);
	border-radius: 0.7rem;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
		0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
		inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
		inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

span {
	font-size: 14px;
	color: var(--gray-500);
}

a {
	color: var(--gray-300);
	text-decoration: underline;
}
