@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/*   font-family: "Inter", sans-serif; */

:root {
	--light-green: #bef264;
	--dark-green: #1a2e05;

	--white: #ffffff;
	--gray-50: #fafafa;
	--gray-100: #f4f4f5;
	--gray-200: #e4e4e7;
	--gray-300: #d4d4d8;
	--gray-400: #a1a1aa;
	--gray-500: #71717a;
	--gray-700: #3f3f46;
	--gray-800: #27272a;
	--gray-900: #18181b;
	--black: #09090b;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	user-select: none;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	color: var(--gray-50);
	background: url('background.png');
	background-color: var(--black);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	text-align: center;
	padding: 1.5rem;
}

p {
	font-size: 18px;
	color: var(--gray-300);
}

.steps {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.primary-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem 1.5rem;
	gap: 2rem;
	width: 100%;
	background-color: var(--gray-900);
	border-radius: 0.7rem;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
		0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
		inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
		inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.primary-container .input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.primary-container .input-container .input {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	width: 30%;
}

.primary-container .input-container .input:first-child {
	width: 100%;
}

.primary-container .input-container .input:last-child {
	border-right: 1px solid var(--gray-800);
	padding-right: 1.5rem;
}

.primary-container .input-container input {
	outline: 0;
	border: none;
	background: transparent;
	font-size: 16px;
	color: var(--gray-100);
	width: 100%;
}

.primary-container .input-container input::placeholder {
	color: var(--gray-400);
}

.input-icon {
	width: 1.25rem;
}

.primary-button,
.secundary-button {
	outline: 0;
	border: none;
	display: flex;
	text-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	background-color: var(--light-green);
	color: var(--black);
	border-radius: 0.5rem;
	padding: 0.5rem 1.5rem;
	font-size: 16;
	font-weight: 500;
	cursor: pointer;
	transition: 200ms all ease;
}

.primary-button:hover,
.secundary-button:hover {
	opacity: 0.7;
}

.secundary-button {
	background-color: var(--gray-800);
	color: var(--gray-200);
}

.who-button {
	outline: 0;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background: transparent;
	cursor: pointer;
	transition: 200ms all ease;
}

.who-button span {
	color: var(--gray-400);
	font-size: 16px;
}

.who-button .peoples {
	color: var(--gray-100);
	font-size: 16px;
}

.email-effect {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--black);
	opacity: 80%;
}

.email-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	max-width: 40rem;
	width: 100%;
	padding: 1.25rem 1.5rem;
	gap: 2rem;
	background-color: var(--gray-900);
	color: var(--white);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
		0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
		inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
		inset 0px 1px 0px rgba(255, 255, 255, 0.03);
	z-index: 999;
}

.email-container header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.email-container header .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
}

.email-container header .text h2 {
	font-size: 18px;
	font-weight: 500;
}

.email-container header .text span {
	font-size: 14px;
	color: var(--gray-400);
}

.email-container header .text span strong {
	color: var(--gray-100);
	font-weight: 500;
}

.email-container header button,
.email-container .emails button {
	outline: 0;
	border: none;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 200ms all ease;
}

.email-container .emails {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	border-bottom: 1px solid var(--gray-800);
	padding-bottom: 1rem;
	width: 100%;
}

.email-container .email {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--gray-800);
	border-radius: 0.5rem;
	padding: 0.375rem 0.625rem;
}

.email-container .email span {
	color: var(--gray-300);
}

.email-container form {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--black);
	border: 1px solid var(--gray-800);
	border-radius: 0.5rem;
	width: 100%;
	gap: 0.5rem;
}

.email-container form input {
	outline: 0;
	border: none;
	background: transparent;
	font-size: 16px;
	color: var(--gray-100);
	width: 100%;
}

span {
	font-size: 14px;
	color: var(--gray-500);
}

a {
	color: var(--gray-300);
	text-decoration: underline;
}

.confirm-effect {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--black);
	opacity: 80%;
}

.confirm-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	max-width: 40rem;
	width: 100%;
	padding: 1.25rem 1.5rem;
	gap: 2rem;
	background-color: var(--gray-900);
	color: var(--white);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
		0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
		inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
		inset 0px 1px 0px rgba(255, 255, 255, 0.03);
	z-index: 999;
}

.confirm-container header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.confirm-container header .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
}

.confirm-container header .text h2 {
	font-size: 18px;
	font-weight: 500;
}

.confirm-container header .text span {
	font-size: 14px;
	color: var(--gray-400);
}

.confirm-container header .text span strong {
	color: var(--gray-100);
	font-weight: 500;
}

.confirm-container header button {
	outline: 0;
	border: none;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 200ms all ease;
}

.confirm-container .primary-button {
	padding: 0.8rem 0;
	width: 100%;
}

.confirm-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.confirm-container .input-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 0.5rem;
	background-color: var(--black);
	border: 1px solid var(--gray-800);
	border-radius: 0.5rem;
	gap: 0.5rem;
	width: 100%;
}

.confirm-container form input {
	outline: 0;
	border: none;
	background: transparent;
	font-size: 16px;
	color: var(--gray-100);
	width: 100%;
}

/* TRIP DETAILS */

#trip-details {
	width: 100vw;
	height: 100vh;
	background-color: var(--black);
	padding: 2.5rem 10.5rem;
}

#trip-details header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--gray-900);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
		0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
		inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
		inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

#trip-details header div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#trip-details header span {
	font-size: 16px;
	color: var(--gray-100);
}

#trip-details header .date-and-change {
	display: flex;
	gap: 2rem;
}

#trip-details header .date {
	border-right: 1px solid var(--gray-800);
	padding-right: 1.5rem;
}

/* INPUT ICON */

.secundary-button .input-icon,
.email-container header button .input-icon,
.confirm-container header button .input-icon {
	color: var(--gray-200);
}

.email-container .email .input-icon,
.email-container form .input-icon,
#trip-details header .input-icon,
.primary-container .input-container .input-icon {
	color: var(--gray-400);
}

.primary-button .input-icon,
.email-container form button .input-icon {
	color: var(--black);
}
